{% extends "govuk/template.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set errorSummaryList = validationErrors %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block beforeContent %}
  {% if errorSummaryList.length > 0 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: (errorSummaryList | customErrorOrderBuilder(customErrorOrder)) if customErrorOrder else errorSummaryList,
          classes: 'govuk-!-margin-top-3 govuk-!-margin-bottom-0'
        }) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
