{% extends "govuk/template.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set errorSummaryList = errors %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>
  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}
  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {%endfor%}
{% endblock %}

{% block pageTitle %}
  {% if errorSummaryList | length %}Error: {% endif %}{{pageTitle | default(applicationName)}}
{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
{% endblock %}

{% block content %}
  {% if errorSummaryList | length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummaryList
        }) }}
      </div>
    </div>
  {% endif %}
  {% block contentPostErrorSummary %}{% endblock %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
