<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="app.css" rel="stylesheet" />
  <title>{{ summary.firstName | title }} {{ summary.middleName | title }} {{ summary.lastName }}</title>

  <style>
      body {
          font-family: Arial, sans-serif;
      }
  </style>
</head>
<body class='pdf'>
{% block content %}
{% endblock %}
</body>
</html>

