<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>
        <title>TODO: Need a title to go here</title>
    </head>
    <body class='pdf'>
        {% block content %}
        {% endblock %}
    </body>
</html>

