{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}

{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../macros/filter/searchFilterMacro.njk" import searchFilter %}

{% set nameHtml %}
  {{ govukInput({
    id: "firstName",
    name: "firstName",
    value: form.firstName,
    classes: "govuk-input",
    label: {
      text: "First name or initial"
    },
    errorMessage: errors | findError('firstName')
  }) }}
  {{ govukInput({
    id: "lastName",
    name: "lastName",
    value:  form.lastName ,
    classes: "govuk-input",
    label: {
      text: "Surname"
    },
    errorMessage: errors | findError('lastName')
  }) }}
  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Date of birth",
        isPageHeading: false
      }
    },
    errorMessage: errors | findError('dateOfBirth'),
    items: [
      {
        id: "dobDay",
        name: "dobDay",
        label: "Day",
        value: form.dobDay,
        classes: "govuk-input--width-2"
      },
      {
        id: "dobMonth",
        name: "dobMonth",
        label: "Month",
        value: form.dobMonth,
        classes: "govuk-input--width-2"
      },
      {
        id: "dobYear",
        name: "dobYear",
        label: "Year",
        classes: "govuk-input--width-4",
        value: form.dobYear
      }
    ]
  }) }}
  {{ govukInput({
    id: "age",
    name: "age",
    value: form.age,
    errorMessage: errors | findError('age'),
    classes: "govuk-input",
    label: {
      text: "Or, enter an age or age range"
    },
    hint: {
      text: "For example, 32-34"
    }
  }) }}
{% endset -%}

{% set idHtml %}
  {{ govukInput({
    id: "prisonNumber",
    name: "prisonNumber",
    value: form.prisonNumber,
    classes: "govuk-input",
    label: {
      text: "Prison number"
    }
  }) }}
  {{ govukInput({
    id: "pncNumber",
    name: "pncNumber",
    value: form.pncNumber,
    classes: "govuk-input",
    label: {
      text: "PNC number"
    },
    hint: {
      text: "Previously known as CRN (Crime Reference Number)"
    }
  }) }}
  {{ govukInput({
    id: "croNumber",
    name: "croNumber",
    value: form.croNumber,
    classes: "govuk-input",
    label: {
      text: "CRO number"
    }
  }) }}
{% endset -%}

{% set otherHtml %}
  {{ govukInput({
    id: "address",
    name: "address",
    value: form.address,
    errorMessage: errors | findError('address'),
    classes: "govuk-input",
    label: {
      text: "Enter any combination of street, town, postcode, eg"
    },
    hint: {
      text: "22b Baker Street W1"
    }
  }) }}
{% endset -%}

{% set filterOptionsHtml %}

  {{ govukRadios({
    name: "searchType",
    errorMessage: errors | findError('searchType'),
    items: [
      {
        value: "name",
        text: "Name/age",
        checked: form.searchType === "name",
        conditional: {
        html: nameHtml
      }
      },
      {
        value: "identifier",
        text: "Unique identifier",
        checked: form.searchType === "identifier",
        conditional: {
        html: idHtml
      }
      },
      {
        value: "address",
        text: "Other",
        checked: form.searchType === "address",
        conditional: {
        html: otherHtml
      }
      }
    ]
  }) }}

  <div>
    <a data-qa="clear-search" href="/search" class="govuk-link">New Search</a>
  </div>
{% endset -%}

<form action="/search" method="post" novalidate>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  {{ searchFilter({ optionsHtml: filterOptionsHtml}) }}

</form>