{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "govuk/components/table/macro.njk" import govukTable %}

{{ mojPagination(paginationParams) }}

{% set rows = [] %}
{% for prisoner in searchResults %}
  {% set cellHtml %}
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-body-lead govuk-!-font-weight-bold govuk-!-margin-bottom-1">
        <a class="govuk-link" href="/detail/{{ prisoner.prisonNumber }}">{{ prisoner.firstName | capitalize }} {{ prisoner.middleName | capitalize }} {{ prisoner.lastName }}</a> &middot; {{ prisoner.dob | formatDate }}
      </div>
      <div class="govuk-body-m govuk-!-margin-bottom-1">Prison no. {{ prisoner.prisonNumber }} &middot;
        Reception {{ prisoner.receptionDate | formatDate }}
      </div>
      {% if prisoner.isAlias %}
        <div class="govuk-body govuk-!-margin-bottom-1" data-qa="alias">
          Matched on alias {{ prisoner.aliasFirst }} {{ prisoner.aliasLast }}
        </div>
      {% endif %}
      <div class="govuk-body govuk-!-margin-bottom-2">
        <form action="/comparison/addToShortlist" method="post" novalidate data-qa="shortlist-{{ prisoner.prisonNumber }}">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="prisoner" value="{{ prisoner.prisonNumber }}" />
          {% if prisoner.shortlisted %}
            <input type="submit" class="govuk-link shortlist-link" value="Remove from shortlist" name="remove">
          {% elseif shortlist.length > 2 %}
            <input type="submit" class="govuk-link shortlist-link" value="Shortlist full - compare 3 prisoners" name="view">
          {% else %}
            <input type="submit" class="govuk-link shortlist-link" value="Add to shortlist" name="add">
          {% endif %}
        </form>
      </div>
    </div>
  {% endset %}

  {% set rows = (rows.push([
    { html: cellHtml }
  ]), rows) %}

{% endfor %}
{{ govukTable({
  rows: rows,
  attributes: { "data-qa": "search-results" }
}) }}

{{ mojPagination(paginationParams) }}
