.govuk-main-wrapper {
  min-height: 600px;
}

.govuk-summary-list__row--hidden {
  display: none;
}

.govuk-summary-list__row {
  .govuk-summary-list__key, .govuk-summary-list__value {
    padding-bottom: 0;
  }
}

.section-divider {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid $govuk-border-colour;
}

.section-divider-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pdf-link {
  float: right;
}

.filter-button-group {
  float: right;
}


input.filter-button-active {
  border-color: rgb(187.2, 212.1, 233.7);
  background-color: rgb(187.2, 212.1, 233.7)

}

input.filter-button-active {
  color: white;
}

.no-prisoners {
  text-align: center;
  margin-top: 100px;
  padding-top: 260px;
  color: #6f777b;
  background: url(/assets/images/prison-cell.png) top center no-repeat;
}

.moj-filter__selected {
  background-color: govuk-colour("white");
  padding: 0;
  box-shadow: none;
}

.moj-filter__tag.unselected:after {
  background-image: none;
}
.moj-filter__tag.selected {
  background-color: govuk-colour("blue");
}
