{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "../../macros/summaryListRow.njk" import summaryListRow %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{%- call summaryCard({title: "Movements", id: "movements"}) -%}
  <div class="govuk-grid-row" data-qa="movements">
    <div class="govuk-grid-column-full">
      {% if movements %}
        {% set movementRows = [] %}
        {% for movement in movements %}
          {% set attributeDate = { "data-qa": "movementDate" + loop.index0 } %}
          {% set attribute = { "data-qa": "movement" + loop.index0 } %}
          {% set attributePrison = { "data-qa": "movementPrison" + loop.index0 } %}
          {% set movementRows = (movementRows.push([
            { text: movement.date | formatDate, attributes: attributeDate },
            { text: ("OUT" if movement.type == 'D' else 'IN') + ' - ' + movement.movement | capitalize, attributes: attribute },
            { text: movement.establishment | title | acronymsToUpperCase, attributes: attributePrison }
          ]), movementRows) %}
        {% endfor %}
        {{ govukTable({ head: [ { text: "Date" }, { text: "Movement" }, { text: "Prison" } ], rows: movementRows }) }}
      {% else %}
        <p class="govuk-body" data-qa="noMovements">No movements entered</p>
      {% endif %}
    </div>
  </div>
{%- endcall -%}
