{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "../../macros/summaryListRow.njk" import summaryListRow %}

{%- call summaryCard({title: "Offences in custody", id: "offences-in-custody"}) -%}
  <div class="govuk-grid-row" data-qa="offencesInCustody">
    <div class="govuk-grid-column-full">
      {% for offence in offencesInCustody %}
        <div class="section-divider{{ "-bottom" if loop.last else "" }}">
          {% set offenceNo = "offenceInCustody" + loop.index0 %}
          {{ summaryListRow("Date", offence.date | formatDate, offenceNo + "Date", { hideIfEmpty: "true" }) }}
          {{ summaryListRow("Prison", offence.establishment | title | acronymsToUpperCase, offenceNo + "Prison", { hideIfEmpty: "true" }) }}
          {{ summaryListRow("Outcome", offence.outcome | capitalize, offenceNo + "Outcome", { hideIfEmpty: "true" }) }}
          {% set offenceHtml %}
            <span data-qa="{{ offenceNo }}Charge">{{ offence.charge | capitalize | acronymsToUpperCase }}</span>
            {% if offence.punishments %}
              <ul>
                {% for punishment in offence.punishments %}
                  <li>
                    {% set punishmentNo = offenceNo + "Punishment" + loop.index0 %}
                    <span data-qa="{{ punishmentNo }}Punishment">{{ punishment.punishment | capitalize }}</span>
                    <span data-qa="{{ punishmentNo }}Duration">({{ punishment.duration }} days)</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endset %}
          {{ summaryListRow("Charge", offenceHtml, offenceNo + "Offence", { html: true }) }}
        </div>
      {% endfor %}
      {% if not offencesInCustody %}
        <p class="govuk-body" data-qa="noOffencesInCustody">No offences in custody entered</p>
      {% endif %}
    </div>
  </div>
{%- endcall -%}
