{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "../../macros/summaryListRow.njk" import summaryListRow %}

{%- call summaryCard({title: "Sentence summary", id: "sentence-summary"}) -%}
  <div class="govuk-grid-row" data-qa="sentenceSummary">
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">
        {% if sentenceSummary %}
          {% if sentenceSummary.category %}
            {{ summaryListRow("Last recorded category",
              (sentenceSummary.category.category | title | acronymsToUpperCase | safe) +
            "<p class='govuk-body' data-qa='sentenceSummaryCategoryDate'>" + (sentenceSummary.category.date | formatDate) + "</span>",
            "sentenceSummaryCategory", {html: true}) }}
          {% endif %}
          {% if sentenceSummary.establishment %}
            {{ summaryListRow("Last recorded prison",
              sentenceSummary.establishment | title | acronymsToUpperCase,
              "sentenceSummaryPrison") }}
          {% endif %}
          {% if sentenceSummary.courtHearing %}
            {{ summaryListRow("Court hearing",
              (sentenceSummary.courtHearing.date | formatDate) +
            "<p class='govuk-body' data-qa='sentenceSummaryCourtHearing'>" + (sentenceSummary.courtHearing.court | title | acronymsToUpperCase | safe) + "</p>",
            "sentenceSummaryCourtHearingDate", {html: true}) }}
          {% endif %}
          {% if summary.receptionDate %}
            {{ summaryListRow("Date of reception", summary.receptionDate | formatDate, "sentenceSummaryReceptionDate") }}
          {% endif %}
        {% else %}
          <p class="govuk-body" data-qa="noSentenceSummary">No sentence summary entered</p>
        {% endif %}
      </dl>
    </div>
  </div>
{% endcall %}
