{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "../../macros/summaryListRow.njk" import summaryListRow %}

{%- call summaryCard({title: "Subject", id: "summary"}) -%}
  <div class="govuk-grid-row" data-qa="summary">
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">
        {% if summary.dob %}
          {{ summaryListRow("Date of birth", (summary.dob | formatDate) + " (" + summary.dob | getAge + " years)", "dob") }}
        {% endif %}
        {% if summary.sex === 'F' or summary.sex === 'M' %}
          {{ summaryListRow("Gender", "Male" if summary.sex === 'M' else "Female", "gender") }}
        {% endif %}
        {% if summary.ethnicity and summary.ethnicity !== 'NOT STATED' and summary.ethnicity !== 'OTHER' and summary.ethnicity !== 'Other' %}
          {{ summaryListRow("Ethnicity", summary.ethnicity | title, "ethnicity") }}
        {% endif %}
        {% if summary.maritalStatus and summary.maritalStatus !== 'NOT REQUIRED' and summary.maritalStatus !== 'Refused or Unacceptable Ans.' %}
          {{ summaryListRow("Marital status", summary.maritalStatus | title, "maritalStatus") }}
        {% endif %}
        {% if summary.birthCountry and summary.birthCountry !== 'UNKNOWN' and summary.birthCountry !== 'OTHER' and summary.birthCountry !== 'Other' %}
          {{ summaryListRow("Country of birth", summary.birthCountry | title, "birthCountry") }}
        {% endif %}
        {% if summary.nationality and summary.nationality !== 'UNAVAILABALE' %}
          {{ summaryListRow("Nationality", summary.nationality | title, "nationality") }}
        {% endif %}
        {% if summary.religion and summary.religion !== 'NON PERMITTED RELIGIONS' and summary.religion !== 'OTHER NON PERMITTED RELIGION' %}
          {{ summaryListRow("Religion", summary.religion | title, "religion") }}
        {% endif %}
        {{ summaryListRow("Prison number", summary.prisonNumber, "prisonNumber") }}
        {{ summaryListRow("Parole numbers", summary.paroleNumbers, "paroleNumbers", { hideIfEmpty: "true" }) }}
        {{ summaryListRow("PNC number", summary.pncNumber, "pncNumber", { hideIfEmpty: "true" }) }}
        {{ summaryListRow("CRO number", summary.croNumber, "croNumber", { hideIfEmpty: "true" }) }}
      </dl>
    </div>
  </div>
{%- endcall -%}
