{% from "../../macros/summaryCardMacro.njk" import summaryCard %}
{% from "../../macros/summaryListRow.njk" import summaryListRow %}

{%- call summaryCard({title: "Subject", id: "summary"}) -%}
  <div class="govuk-grid-row" data-qa="summary">
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">

        {% if personalDetails.dob %}
          {{ summaryListRow("Date of birth", (personalDetails.dob | formatDate) + " (" + personalDetails.dob | getAge + " years)", "dob") }}
        {% endif %}
        {% if personalDetails.sex === 'F' or personalDetails.sex === 'M' %}
          {{ summaryListRow("Gender", "Male" if personalDetails.sex === 'M' else "Female", "gender") }}
        {% endif %}
        {% if personalDetails.ethnicity and personalDetails.ethnicity !== 'NOT STATED' and personalDetails.ethnicity !== 'OTHER' and personalDetails.ethnicity !== 'Other' %}
          {{ summaryListRow("Ethnicity", personalDetails.ethnicity | title, "ethnicity") }}
        {% endif %}
        {% if personalDetails.maritalStatus and personalDetails.maritalStatus !== 'NOT REQUIRED' and personalDetails.maritalStatus !== 'Refused or Unacceptable Ans.' %}
          {{ summaryListRow("Marital status", personalDetails.maritalStatus | title, "maritalStatus") }}
        {% endif %}
        {% if personalDetails.birthCountry and personalDetails.birthCountry !== 'UNKNOWN' and personalDetails.birthCountry !== 'OTHER' and personalDetails.birthCountry !== 'Other' %}
          {{ summaryListRow("Country of birth", personalDetails.birthCountry | title, "birthCountry") }}
        {% endif %}
        {% if personalDetails.nationality and personalDetails.nationality !== 'UNAVAILABALE' %}
          {{ summaryListRow("Nationality", personalDetails.nationality | title, "nationality") }}
        {% endif %}
        {% if personalDetails.religion and personalDetails.religion !== 'NON PERMITTED RELIGIONS' and personalDetails.religion !== 'OTHER NON PERMITTED RELIGION' %}
          {{ summaryListRow("Religion", personalDetails.religion | title, "religion") }}
        {% endif %}
        {{ summaryListRow("Prison number", personalDetails.prisonNumber, "prisonNumber") }}
        {% if personalDetails.paroleNumbers %}
          {{ summaryListRow("Parole numbers", personalDetails.paroleNumbers, "paroleNumbers") }}
        {% endif %}
        {% if personalDetails.pncNumber %}
          {{ summaryListRow("PNC number", personalDetails.pncNumber, "pncNumber") }}
        {% endif %}
        {% if personalDetails.croNumber %}
          {{ summaryListRow("CRO number", personalDetails.croNumber, "croNumber") }}
        {% endif %}
      </dl>
    </div>
  </div>
{%- endcall -%}
