{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Details" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-body">
    <h1>{{ detail.personalDetails.firstName | capitalize }} {{ detail.personalDetails.middleName | capitalize }} {{ detail.personalDetails.lastName }}</h1>
  </div>
{% endblock %}
