{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Details" %}

{% set mainClasses = "app-container govuk-body" %}
{% set bodyAttributes = {'data-page': 'detail'} %}

{% block contentPostErrorSummary %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1>{{ summary.firstName | title }} {{ summary.middleName | title }} {{ summary.lastName }}</h1>
    </div>
  </div>
  <div class="govuk-grid-column-full govuk-body">
    <a class="govuk-link pdf-link" href="/print/{{ summary.prisonNumber }}">Save as PDF</a>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter app-sidebar govuk-!-display-none-print">
      <ul class="govuk-list hmpps-sidebar">
        <li><a class="govuk-link govuk-link--no-visited-state" href="#summary">Subject</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#sentence-summary">Sentence summary</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#sentencing">Sentence history</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#court-hearings">Court hearings</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#movements">Movements</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#hdc">HDC history</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#offences">Offences</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#offences-in-custody">Offences in custody</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#aliases">Aliases</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#addresses">Addresses</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-three-quarters hmpps-profile--personal-content hmpps-full-width-print">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/detail/summary.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/detail/sentenceSummary.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/detail/sentencing.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/detail/courtHearings.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/detail/movements.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/detail/hdc.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/detail/offences.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/detail/offencesInCustody.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/detail/aliases.njk" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "../partials/detail/addresses.njk" %}
        </div>
      </div>
    </div>
  </div>
  {% include "../partials/backToTop.njk" %}
{% endblock %}
