{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Usage" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <h1 class="govuk-heading-l">Usage</h1>
    <form action="/disclaimer" method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>`
      `
      <div class="govuk-grid-column-two-thirds">
        This information is Official Sensitive and should not be shared with anyone who
        does not have a valid reason to use it. The Information in this application which was created
        using the legacy application, LIDS, is accurate for that period of time entered and should be
        used in conjunction with legislation and codes which applied at the time of entry. Information
        in this application which was created using Prison NOMIS may not be accurate and should be
        discounted. Any information which can be found on Prison NOMIS should be taken from Prison
        NOMIS. Please note that MoJ/HMPPS will not accept any responsibility for errors on the system.

        <div class="govuk-list">
          {{ govukCheckboxes({
            idPrefix: 'disclaimer',
            name: 'disclaimer',
            fieldset: {
              legend: {
                text: ' ',
                isPageHeading: false,
                classes: "govuk-label"
              }
            },
            items: [
              {
                value: 'disclaimer',
                text: 'I confirm that I understand'
              }
            ],
            errorMessage: errors | findError('disclaimer')
          }) }}
        </div>

        {{ govukButton({
          text: "Continue",
          href: params.href,
          preventDoubleClick: true,
          attributes: { "data-qa": "continue" }
        }) }}
      </div>
    </form>
  </div>
</div>

{% endblock %}
