<html lang="en">
<head>
  <style>
      body {
          font-family: Arial, sans-serif;
      }

      h1 {
          font-size: 12px;
      }

      h2 {
          font-size: 12px;
          font-weight: bold;
      }

      .prisoner {
          float: left;
          width: 30%;
          padding-left: 30px;
      }

      .pdf-footer {
          width: 70%;
          display: flex;
          justify-content: end;
          align-items: center;
          padding-left: 30px;
          padding-right: 30px;
      }
  </style>
  <title>Unused</title>
</head>
<body>
<div class="prisoner">
  <h1>
    {{ firstName | title }} {{ middleName | title }} {{ lastName }}, {{ prisonNumber }}
  </h1>
</div>
<div class='pdf-footer'>
  <h2>Page <span class="pageNumber"></span> of <span class="totalPages"></span></h2>
</div>
</body>
</html>
