{% extends "../partials/layout.njk" %}
{% from "../macros/filter/categoryFilterMacro.njk" import categoryFilter %}

{% set pageTitle = "HPA Prisoner Search" %}
{% set mainClasses = "app-container govuk-body" %}

{% block contentPostErrorSummary %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      {% if shortlist.length > 1 %}
        <a href="/comparison" class="govuk-link comparison-link" data-qa="view-shortlist">Compare {{ shortlist.length}} prisoners</a>
      {% elseif shortlist.length > 0 %}
        <a href="/comparison" class="govuk-link comparison-link" data-qa="view-shortlist">View shortlist</a>
      {% endif %}

      <h1 class="govuk-heading-l">Prisoner search</h1>

      <div class="moj-filter-layout">

        <div class="moj-filter-layout__filter">
          {% include "../partials/searchForm.njk" %}
        </div>

        <div class="moj-filter-layout__content">
          <div>
            <div class="govuk-grid-column-full">

              <div class="moj-action-bar__filterTagsContainer govuk-!-margin-bottom-5">

                {% if searchResults %}
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                      <h2 class="govuk-heading-l" data-qa="search-results-count">{{ paginationParams.results.count }} {{ paginationParams.results.text }}</h2>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                      {{ categoryFilter(filters | filterCategories()) }}
                    </div>
                  </div>

                  {% if searchResults.length %}
                    {% include "../partials/searchResults.njk" %}
                  {% endif %}
                  <p class="govuk-body" data-qa="no-results">
                    Not found what you're looking for? <a data-qa="suggestions" href="/search/suggestions" class="govuk-link">Try these alternatives</a>
                  </p>
                {% else %}
                  <p class="no-prisoners">
                    Can't see prisoners? Enter search details to find prisoners.
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
