{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Suggestions and tips" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Go back to search results",
    href: '/search/results'
  }) }}
{% endblock %}

{% block contentPostErrorSummary %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Suggestions and tips</h1>

      <div class="govuk-grid-column-two-thirds">
        {% for suggestion in suggestions %}
          {% if suggestion.type == 'useInitial' %}
            <div class="govuk-body-l" data-qa="use-initial">
              <a class="govuk-link" href="/suggestion?{{ suggestion.query }}">
                Search using an initial only in first name
              </a>:
              <span>{{ suggestion.val }}</span>
              <p class="govuk-body">
                Reason: An exact first name search for names which can be shortened could miss records e.g.
                recorded first names for Evelyn have included Eve, Eva, Evalyn, Evaline
              </p>
            </div>
          {% endif %}
          {% if suggestion.type == 'addForenameWildcard' %}
            <div class="govuk-body-l" data-qa="forename-wildcard">
              <a class="govuk-link" href="/suggestion?{{ suggestion.query }}">
                Add a wildcard to the first name
              </a>:
              <span>{{ suggestion.val }}</span>
              <p class="govuk-body">
                Reason: An exact first name search for names could miss longer variations e.g. searching for Alex will
                miss Alexander. Using a wildcard instead of an initial will also then greatly reduce the possible
                matches.
              </p>
            </div>
          {% endif %}
          {% if suggestion.type == 'addSurnameWildcard' %}
            <div class="govuk-body-l" data-qa="surname-wildcard">
              <a class="govuk-link" href="/suggestion?{{ suggestion.query }}">
                Add a wildcard to the last name
              </a>:
              <span>{{ suggestion.val }}</span>
              <p class="govuk-body">
                Reason: Some establishments when using LIDS added more information after a last name - e.g. alerts.
                An exact last name match may not pick up these records
              </p>
            </div>
          {% endif %}
          {% if suggestion.type == 'addShorterWildcard' %}
            <div class="govuk-body-l" data-qa="surname-shorterwildcard">
              <a class="govuk-link" href="/suggestion?{{ suggestion.query }}">
                Shorten the last name by 2 characters and add a wildcard
              </a>:
              <span>{{ suggestion.val }}</span>
              <p class="govuk-body">
                Reason: An exact last name search for example for STEELE will miss and records where the last name has
                been incorrectly recorded as STEEL
              </p>
            </div>
          {% endif %}
          {% if suggestion.type == 'swap' %}
            <div class="govuk-body-l" data-qa="swap">
              <a class="govuk-link" href="/suggestion?{{ suggestion.query }}">
                Swap last name and first name
              </a>:
              <span>{{ suggestion.val }}</span>
              <p class="govuk-body">
                Reason: Where a prisoner has a first name and last name which could be interchangeable - e.g.
                Lewis George/George Lewis - these may have been recorded incorrectly
              </p>
            </div>
          {% endif %}
          {% if suggestion.type == 'convertToAgeRange' %}
            <div class="govuk-body-l" data-qa="dob">
              <a class="govuk-link" href="/suggestion?{{ suggestion.query }}">
                Change the date of birth to an age range
              </a>:
              <span>{{ suggestion.val }}</span>
              <p class="govuk-body">
                Reason: A common way to create an alias is to change the date of birth by 1 day or 1 year.
                If this is not a known recorded alias, any records with a slightly different date of birth will not be
                displayed
              </p>
            </div>
          {% endif %}
          {% if suggestion.type == 'widenAgeRange' %}
            <div class="govuk-body-l" data-qa="age">
              <a class="govuk-link" href="/suggestion?{{ suggestion.query }}">
                Change the age to an age range
              </a>:
              <span>{{ suggestion.val }}</span>
              <p class="govuk-body">
                Reason: A common way to create an alias is to change the date of birth by 1 day or 1 year.
                If this is not a known recorded alias, any records with a slightly different date of birth will not be
                displayed
              </p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="govuk-grid-column-two-thirds">
        <a data-qa="clear-search" href="/search" class="govuk-link">New search</a>
      </div>
    </div>
  </div>

{% endblock %}
